<!DOCTYPE html>
<html>
    <!-- pageTitle, prods, path 필요-->
<head>
    <%- include('./imports/head-layout.ejs') %>
    <link rel="stylesheet" href="/css/product.css">
</head>

<body>
    <%- include('./imports/header.ejs') %>

    <main>
        <% if (prods.length > 0) { %>
            <div class="grid">
                <% for (let product of prods) { %>
                    <article class="card product-item">
                        <header class="card__header">
                            <h1 class="product__title"><%= product.title %></h1>
                        </header>
                        <div class="card__image">
                            <img src="<%= product.imgURL %>" alt="">
                        </div>
                        <div class="card__content">
                            <h2 class="product__price"><%= product.cost %>원</h2>
                            <p class="product__description"><%= product.description %></p>
                            <p class="product__stock">Stock : <%= product.stock %></p>
                        </div>
                        <div class="card__actions">
                            <form class="btnform" action="/admin/edit-product/<%= product.id %>" method="get">
                                <button class="btn" type="submit">EDIT</button>
                            </form>
                            <form class="btnform" action="/admin/delete-product/<%= product.id %>" method="post">
                                <button class="btn" type="submit">DELETE</button>
                            </form>
                        </div>
                    </article>
                <% } %>
            </div>
        <% } else { %>
            <h1>No Products Found!</h1>
        <% } %>
    </main>
</body>

</html>